/* * {
    border: 1px dashed red
} */

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    background-color: blue;
}

header {
    margin-top: 0.7%;
    display: flex;
    justify-content: center;
    /* border: 1px dashed green; */
}

.headercont {
    position: fixed;
    height: 7vh;
    width: 96vw;
    border-radius: 0.75vh;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.containerTitle {
    flex: 1;
    margin-left: 1%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: left;
}

#list {
    flex: 0.6;
    min-height: 100%;
    border-radius: 0.75vh;
    display: flex;
    background: rgb(254, 36, 53);
    background: linear-gradient(90deg, rgba(254, 36, 53, 1) 0%, rgba(255, 0, 96, 1) 100%);
}

.topbuttons {
    flex: 1;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

li {
    width: 20%;
    margin: auto;
    list-style: none;
    display: flex;
    justify-content: center;
}

li a {
    font-size: 1vw;
    text-decoration: none;
    color: white;
}

#headerlogo {
    font-weight: 300;
    width: fit-content;
}

#highlight {
    font-weight: 600;
    margin-left: 0.25em;
    width: fit-content;
}

.containerTitle h1 {
    font-size: 2vw;
    font-family: 'Rubik', sans-serif;
}

body {
    min-height: 750px;
    background: url('../img/Asset\ 2clout.svg') no-repeat 100% 101%, url('../img/IMG_20191223_155637\ \(1\).jpg') no-repeat 0 0;
    background-attachment: scroll, fixed;
    background-position: bottom right, 50% 50%;
    background-size: auto, cover;
    text-align: center;
}

#showcase {
    min-height: 100vh;
    display: flex;
    margin-top: 20vw;
}

#showcase h1 {
    width: 50%;
    font-size: 6vw;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: left;
    margin-left: 3%;
}